<!DOCTYPE html>
<html xmlns:th="hhtp://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Painel de controle Onibus</title>
</head>
<body>
	<div align="center">
		<h1>Painel de controle Onibus</h1>
		<a href="new">Criar novo onibus</a> <br></br>
		
		<!-- faltou implementar -->
		<form action="#" th:action="@{/search}">
			<label for="busca" th:field="*{searchName}">Buscar: </label> <input type="search">
				<button type="submit">BUSCAR ÔNIBUS
			</button>
		</form>
		
		<br></br>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Onibus ID</th>
					<th>Código</th>
					<th>Nome</th>
					<th>Ações</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="onibus : ${listOnibus}">
					<td th:text="${onibus.id}">Onibus ID</td>
					<td th:text="${onibus.codigo}">Código</td>
					<td th:text="${onibus.nome}">Nome</td>
					<td><a th:href="@{'/edit/'+${onibus.id}}">Editar</a>
						&nbsp;&nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/'+${onibus.id}}">Deletar</a>
						&nbsp;&nbsp;&nbsp;&nbsp; <a
						th:href="@{'/busca_rotas/'+${onibus.id}}">Listar Rota</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>